.el-radio__input.is-checked .el-radio__inner{
  background-color: #2868F0;
  border-color: #2868F0;
}
.el-radio__input.is-checked+.el-radio__label{
  color: #2868F0;
}
.el-checkbox__input.is-checked+.el-checkbox__label{
  color: rgba(0,0,0,0.65);
}
.el-checkbox__label{
  line-height: 14px;
}
.el-loading-spinner{
  margin-top: -10px;
}
.el-color-picker--mini .el-color-picker__trigger{
  width: 120px;
  vertical-align: middle;
}
.el-color-picker--mini .el-color-picker__trigger{
  border: none;
}
.el-input{
  width: 120px;
}
.el-input__inner{
  height: 28px;
  font-size: 12px;
}
.el-button{
  width: 50px;
  height: 28px;;
  padding: 0;
  vertical-align: middle;
}
.el-color-picker--mini .el-color-picker__empty, .el-color-picker--mini .el-color-picker__icon{
  visibility: hidden;
}

